/* . = class */
/* # = id    */


em {
	background-color: lightgray;
	border-radius: 3px;		/* this gives the box rounded corners */
	padding-left: 2px;		/* give the background some room */
	padding-right: 2px;
}

/* static */

#box_static_1 {
	position: static;
	width: 200px;
	height: 200px;
	background: red;
}

#box_static_2 {
	position: static;
	width: 200px;
	height: 200px;
	background: blue
}

#box_static_3 {
	position: static;
	width: 200px;
	height: 200px;
	background: yellow;
}


/* relative */

#box_relative_1 {
	position: relative;
	width: 200px;
	height: 200px;
	background: red;
}

#box_relative_2 {
	position: relative;
  	left: 200px;      /* added to this relative property to make it move right by 200px */
	width: 200px;
	height: 200px;
	background: blue;
}

#box_relative_3 {
	position: relative;
	width: 200px;
	height: 200px;
	background: yellow;
}


/* relative to a relative */

#box_relative_parent {
	position: relative;
	width: 200px;
	height: 200px;
	background: green;
}

#box_relative_child {
	background: yellow;
	height: 200px;
	position: relative;
	width: 200px;
  	left: 200px;      /* added to this relative property to make it move right by 200px */
	top: 0px;		  /* need to specify a top to prevent the text in the parent div causing the box to start a line lower */
}

/* absolute */

#box_absolute_1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: red;
}

#box_absolute_2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: blue;
}

#box_absolute_3 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: yellow;
}

#box_absolute_4 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: green;
}

.absolute_parent {
	position: absolute;
	height: 800px;
	width: 600px;
}

